body {
  background: rgb(255, 224, 245);
  font: 15pt Arial;
}

header {
  text-align: center;
}

section {
  background: white;
  border-radius: 10px;
  padding: 15px;
  width: 500px;
  margin: auto;
  box-shadow: 5px 5px 10px rgba(172, 169, 169, 0.575);
}

select#seltabuada {
  width: 150px;
}

div {
  text-align: center;
  padding: 5px;
}

footer {
  color: rgb(70, 67, 67);
  font-style: italic;
  text-align: center;
}
